body{
    font-family: sans-serif;
    width: 1200px;
}
.miembros{
    background-color: rgb(173, 121, 158);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}
.miembro__contenedor{
    background-color: rgb(180, 131, 166);
    margin: 1%;
    justify-content: center;
    width: 300px;
    
}
